$body-color: #3A4145;
$background: darken(#39CFAA, 5%);
$published: lighten(#FF534B, 7%);

body {
  height: 100%;
  max-height: 100%;
  line-height: 1.6em;
  color: $body-color;
  background: $background;
  font-family: "Lato", "HelveticaNeue", Helvetica, sans-serif;
}

html {
  height: 100%;
  max-height: 100%;
}

.home-template {

  .header {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 0rem;
    background: #5acbb6;
    // background-image: url('/../assets/images/soporific.jpg'); /* http://speedrahul.deviantart.com/art/Soporific-203792216 */
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
    display: table;
  }

  .vertical-theme-header {
    display: table-cell;
    vertical-align: middle;
    // background: rgba(0, 0, 0, 0.2);
  }

  .inner-theme-header {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
  }

  .theme-header-divider {
    margin: 20px auto;
    border-top: 1px solid rgba(255, 255, 255, 0.14);

    @include mq(XS) {
      width: 90%;
    }
    @include mq(S) {
      width: 50%;
    }
  }

  .small-header-divider {
    margin: 20px auto;
    border-top: 1px solid rgba(255, 255, 255, 0.14);

    @include mq(XS) {
      width: 60%;
    }
    @include mq(S) {
      width: 25%;
    }
  }

  .header-title {
    font-size: 1em;
    text-decoration: none;
    color: #FFF;

    @include mq(S) {
      font-size: 1.2em;
      line-height: 1em;
    }
    @include mq(M) {
      font-size: 1.5em;
    }
    }

  .header-byline {
      font-size: 1.2em;
      width: 80%;
      margin: 0 auto;
      color: #FFF;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;

    @include mq(M) {
      font-size: 1.2em;
      width: 45%;
    }
    }

    #social-navigation {
      display: none;

      @include mq(ML) {
      display: inline;
      position: absolute;
      bottom: 0px;
      margin-bottom: 55px;
      width: 100%;
      }
      @include mq(LL) {
        margin-bottom: 35px;
      }
    }

    .copyright {
      display: none;

      @include mq(ML) {
      display: block;
      position: absolute;
      bottom: 0;
      margin-bottom: 5px;
      text-align: center;
      color: #FFF;
      opacity: 0.8;
      bottom: 0;
      width: 95%;
      }
    }

}
.theme-button {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  color: #FFF;
}

.theme-button:hover {
  background: #FFF;
  color: $body-color;
}

.logo-container {
  display: none;

  @include mq(SM) {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -20px auto 50px;
    display: block;
  }
}

#shadow-logo {
  width: 225px;
}

.post-template, .archive-template {
  .header {
    display: none;
  }
}

.aside-nav {
  display: inline;
  width: 100%;

  @include mq(ML) {
  display: block;
  float: left;
  width: 15%;
  height: 100%;
  position: relative;
  background: #5acbb6;
}
}

#personal-logo {
  display: none;

  @include mq(ML) {
  display: block;
  margin: 45px auto;
  }
}

nav {

  ul {
    margin: 9px auto;
    text-align: center;
    width: 100%;

    @include mq(ML) {
    margin-top: 30%;
    margin: 0 auto;
    }

    li {
      display: inline-block;
      width: 100px;

      @include mq(S) {
        width: 95px;
      }
      @include mq(ML) {
      margin-bottom: 10px;
      width: 100%;
      }
      a {
        color: #F2EFE8;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2em;
      }

        a:hover {
          color: #FFF;
          cursor: pointer;
      }
    }
  }
}
#social-navigation {
  display: none;

  @include mq(ML) {
  display: inline;
  position: fixed;
  bottom: 0px;
  left: 0;
  margin-bottom: 55px;
  width: 15%;
  }
  @include mq(LL) {
    margin-bottom: 35px;
  }
}

.social-links {
  height: 50px;
}

.social-list {
  display: inline-block;
  list-style-type: none;
  margin: 0px;
  position: absolute;
  bottom: 0px;
}

.social-item {
  display: inline-block;
  margin: 0px 1px 0px 0px;
  line-height: 1em;
  width: 33px;

  a {
    display: block;
    border: 1px solid white;
    border-radius: 100%;
    color: #FFF;
    opacity: 0.8;
    width: 32px;
    line-height: 32px;
    text-align: center;
    height: 32px;
    padding-left: 1px;
  }

  a:hover {
    opacity: 1;
  }
}

.copyright {
  display: none;

  @include mq(ML) {
  display: block;
  position: fixed;
  bottom: 0;
  margin-bottom: 5px;
  text-align: center;
  color: #FFF;
  opacity: 0.8;
  bottom: 0;
  margin-left: 5px;
  }
}

#content {
  width: 100%;
  position: relative;
  height: 100%;
  float: right;
  display: table;
  background: #F2EFE8;

  @include mq(ML) {
  width: 85%;
  }
}

.inner-content {
  height: 100%;
}

article:nth-of-type(even) {
  background: #525A6C;
  color: #F2EFE8;
}

article:nth-of-type(odd) {
  background: #F2EFE8;
}

article {
  padding-bottom: 60px;
}

.post-content {
  text-align: center;
  display: inline-block;
  width: 50%;
  margin-top: 4%;

  header {
    font-size: 26px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .entry-content {
    font-size: 1em;
    width: 100%;

    @include mq(M) {
    font-size: 1.3em;
    width: 90%;
    }
  }
}

.posted-circle {
  background: $published;
  border-radius: 100%;
  vertical-align: top;
  display: inline-block;
  color: #FFF;
  font-size: 1em;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 0.8em;
  padding-top: 6px;
  margin-top: 17%;
  margin-left: 7%;

  @include mq(SM) {
  margin-top: 6%;
  margin-left: 16%;
  width: 90px;
  height: 90px;
  line-height: 1.2em;
  font-size: 1.3em;
  padding-top: 8px;
  }

  span {
    display: block;
    font-size: 1.1em;
    text-transform: uppercase;

    @include mq(SM) {
    font-size: 1.5em;
    }
  }
}

.read-more {
  display: block;
  margin: 15px auto 0px;
  padding: 3px 20px;
  background: $published;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  border-radius: 30px;
  width: 116px;
  opacity: 1;

  @include mq(SM) {
    width: 150px;
  }
}

.read-more:hover {
  background: $background;
}

.pagination {
  color: #525A6C;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 60px;
  padding-top: 15px;
}

.page-number {
  display: none;

  @include mq(SM) {
  display: inline;
  margin-top: 10px;
  border: 1px solid;
  border-color: #525A6C;
  opacity: 0.8;
  padding: 5px 10px 3px 10px;
  }
}

.button {
  display: inline-block;
  padding: 3px 20px;
  border: 1px solid #525A6C;
  text-decoration: none;
  border-radius: 30px;
  width: 150px;
  color: #525A6C;
  position: absolute;
}

.button:hover {
  background: #525A6C;
  color: #FFF;
}

.older-posts {
  right: 0;
  margin-right: 50px;
}

.newer-posts {
  left: 0;
  margin-left: 50px;
}

.footer {
  position: relative;
  bottom: 0;
}

.footer-content {
  position: absolute;
}


/* Page/Full-Post CSS */

.hidden {
  display: none;
}

.show-comments {
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  left: 0;
  margin-left: 43%;
}

#disqus_thread {
  width: 50%;
  margin: 30px auto;
}

.article-header {
  text-align: center;
  font-size: 1.7em;
}

.entry-content {
  width: 90%;
  margin: 0 auto;
  font-size: 1.4em;
  line-height: 1.2em;
}
