<header class="header" role="banner">
    <div class="vertical-theme-header">
      <div class="inner-theme-header">
        <!-- Title -->
        <img src="/../assets/images/spinme.png" alt="Nichole's Face" class="spin_me">
        <h1>
            <a href="{{@blog.url}}" rel="nofollow" class="header-title">{{@blog.title}}</a>
        </h1>
        <hr class="theme-header-divider">

        <p>Some text about me blahblahblah</p>

        <hr class="small-header-divider">

        <a href="{{@blog.url}}/portfolio" class="theme-button">Portfolio</a>
        <a href="#blog" class="theme-button smoothscroll">Blog</a>

      </div>
    </div>
 <!-- end #inner-header -->

</header> <!-- end header -->
